In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import (
    accuracy_score, confusion_matrix, classification_report,
    roc_auc_score, roc_curve, mean_squared_error, r2_score
)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

import numpy as np

import seaborn as sns
import numpy as np
import matplotlib as plt
from argon2 import Parameters
from cvxpy.expressions.cvxtypes import parameter
%matplotlib inline
import seaborn as sns

import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from scipy import stats

import statistics

import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [2]:
import pandas as pd

data = {
    "Movie": [
        "Avengers",
        "Iron Man",
        "Thor",
        "Batman",
        "Superman",
        "Joker",
        "Interstellar",
        "Inception"
    ],
    "Genre": [
        "Action SciFi Superhero",
        "Action SciFi Superhero",
        "Action Fantasy Superhero",
        "Action Crime Superhero",
        "Action SciFi Superhero",
        "Crime Drama",
        "SciFi Space Drama",
        "SciFi Thriller"
    ]
}

df = pd.DataFrame(data)
df

          Movie                     Genre
0      Avengers    Action SciFi Superhero
1      Iron Man    Action SciFi Superhero
2          Thor  Action Fantasy Superhero
3        Batman    Action Crime Superhero
4      Superman    Action SciFi Superhero
5         Joker               Crime Drama
6  Interstellar         SciFi Space Drama
7     Inception            SciFi Thriller

In [ ]:
#CONVERT TEXT TO NUMBERS,We use CountVectorizer
# Movie 1: "Action SciFi Superhero"
# Movie 2: "Action Crime Superhero"
# Common word list:Action, SciFi, Crime, Superhero
#Movie 1 counts:
# Action = 1
#SciFi = 1
#Crime = 0
#Superhero = 1
#[1, 1, 0, 1]
#Movie 2 counts:
#Action = 1
#SciFi = 0
#Crime = 1
#Superhero = 1
#[1, 0, 1, 1]
#These number lists are what the model compares.
###HOW THIS HELPS RECOMMENDATION
#Movies with similar word counts → similar content
#More shared words → higher similarity
#Fewer shared words → lower similarity
#So:Avengers & Iron Man → many common words → recommended
#Avengers & Joker → few common words → not recommended########

In [3]:
#CONVERT TEXT TO NUMBERS
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectors = vectorizer.fit_transform(df["Genre"])
#Each movie = a numeric vector.Computer can compare movies

In [6]:
#HOW DO WE COMPARE MOVIES?
#We use: Cosine Similarity.Measures how similar two movies are.
#Value range:
#1 → very similar
#0 → very different

from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

#Each movie is compared with every other movie. Stored in a similarity matrix
#UNDERSTAND SIMILARITY MATRIX
#Example:
#Avengers vs Iron Man → HIGH similarity
#Avengers vs Joker → LOW similarity
#This matrix is the brain of the system.

In [14]:
def recommend(movie_name):
    index = df[df["Movie"] == movie_name].index[0]

    similarity_scores = list(enumerate(similarity[index]))

    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

    print("Recommended Movies:")
    for i in similarity_scores[1:4]:
        print(df.iloc[i[0]]["Movie"]) #i[0] is just a row number in the table.

In [23]:
recommend('Superman')

Recommended Movies:
Iron Man
Superman
Thor

In [ ]:
#System does 5 small actions
#1 Find Avengers row number
#2 Get similarity with all movies
#3️ Sort from most similar to least
#4️ Skip Avengers itself
#5️ Show top 3 similar movies